.body{
    display: flex;
    flex-flow: row;
    padding-top: 60px;
}
.results{
    flex:1;
    margin-right:35%;
    padding: 16px;
}

@media only screen and (min-width: 1440px) {
    .results{
        margin-right:30%;
    }
}

@media only screen and (min-width: 1700px) {
    .results{
        margin-right:25%;
    }
}



/* mobile */
@media only screen and (max-width: 768px) {
    .body{
        flex-flow: column-reverse;
    }
    .results{
        margin:0%;
        border-right:0px;
        padding: 0px 16px;
    }
}
    